extends ../layouts/pages-layout 

block title 
   - var title ="Дота 2"

block content
   header 
      .dota-box 
         .container-xl.p-0 
            .container 
               .row 
                  .col-xxl-6.col-xl-6.col-lg-6.col-md-12 
                     // Колонка для блока с текстом
                     .hero-section.pt-5 
                        h1.hero-title.text-white.m-0 Dota 2
                        p.hero-desc.text-white.my-5 
                           | Dota 2- компьютерная многопользовательская командная игра
                        p.hero-desc.text-white 
                           | В игре участвует две команды по пять человек. Одна команда
         .img-mobile 
            img(src="img/pic/dota-big.png" alt="")