.navigation {
   background-color: #323335;
   border-radius: 24px;
   width: 416px;
   justify-content: center;
}

@media (max-width: 991px) {
   .menu-bg {
      background-color: #323335;
   }

   .menu-btn {
      background-color: #fff;
   }

   .nav-link:nth-child(2) {
      margin: 0 !important;
   }
}

.logo {
   animation-name: rotation;
   animation-duration: 8s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;

   &:hover {
      animation-play-state: paused;
   }
}

@keyframes rotation {
   from {
      transform: rotate(0deg);
   }

   to {
      transform: rotate(360deg);
   }
}